.p-datatable {
    width: 100%;
    font-weight: 700;
}

.stars {
    font-weight: 700;
}

.outStock {
    color: #FF5252;
}

.lowStock {
    color: #FFA726;
}

.inStock {
    color: #66BB6A;
}

.p-datatable .row-accessories {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.add-data-row {
    display: flex;
    align-items: center;
}

.stat-wrapper {
    margin: -20px 0 20px;
    width:60%;
    min-width:450px;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 3px !important;
}
